<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Basic Inroduction Information -->
    <h1>Learn About Me!</h1>
    <h2>The Basics</h2>

    <p><strong>Welcome to my website!</strong> My name is Brian Garfunkel, and here are some <em>quick</em> and <em>easy</em> itemized facts about me:</p>

    <ul>
        <li>I am from Fair Lawn, New Jersey</li>
        <li>I am a student in BMGT407</li>
        <li>This is my first time creating a website</li>
        <li>This is <strong>also</strong> my first time using HTML</li>
        <li>And if you want a more formal hello from me, <a href="/hello">check this out</a>!</li>
        <li>Here is my <a href="https://www.linkedin.com/in/brian-garfunkel/" target="_blank">LinkedIn</a> profile</li>
        <li>If it sounds like ChatGPT wrote this, I promise it didn't. But go check out their <a href="https://chat.openai.com/">site</a> if that's what you're looking for!</li>
    </ul>

    <!-- Industry Specific Background Details -->
    <h2 class="smith-title">My Smith IS Background</h2>

    <a href="https://rhsmith.umd.edu" target = "_blank">
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" class="logo" alt="Smith Logo">
    </a>

    <p>One other thing you should know about me is that I cannot escape IS courses with Prof Bono. Take a look!</p>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
            <th>Professor</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Spring 2022</td>
            <td>Prof. Bono</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2022</td>
            <td>Prof. Bono</td>
        </tr>
        <tr>
            <td>BMGT404</td>
            <td>Spring 2024</td>
            <td>Prof. Bono</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
            <td>Prof. Bono</td>
        </tr>
    </table>

    <!-- List of course enjoyment, with the first course as most enjoyable, scaling down to the last one as least enjoyable -->
    <p>If I had to rank my enjoyment of these courses from "Best time ever!" to "eh." it would look something like this:</p>

    <ol>
        <li>BMGT302</li>
        <li>BMGT404</li>
        <li>BMGT407</li>
        <li>BMGT402</li>
    </ol>

    <p id="new">Lastly, be sure to catch me at this year's Smith DataThon, where I attempt to compete without the god-like power of Jake Holland on my team!</p>

</body>
</html>